{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
  {% for items in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h6><b>{{items.product.title}}</b></h6>
          <h6><span class="text-danger">&#8377;{{items.total_cost}}</span> <span class="text-muted"> - Quantity: {{items.quantity}}</span></h6>
          <!--<p class="fw-bold">Price: {{totalamount}}</p>-->
        </div>
      </div>
      {% endfor %}
      <hr>
      {% if  totalamount <= 200 %}
   <small id="fix">&#8377;{{shipping}} Delivery charges are applicable</small>
   {% endif %}
  
      <p class="fw-bold">Total Amount &#8377;{{totalamount}}</p>
      <form action="/paymentdone" id="myform">
      <div class="text-end">
        <!--
        <button type="submit" class="btn btn-dark mt-2 px-5 mb-50 fw-bold">Continue</button><br><br><br><br><br><br>
     -->
     <!-- Set up a container element for the button -->
     <button type="submit" class="btn btn-dark mt-3 px-5 mb-60 fw-bold"><img src="https://img.icons8.com/office/30/ffffff/cash-in-hand.png"/>&nbsp;Cash On Delivery</button>
    
    <div class="btn mt-3 px-4 mb-40 fw-bold" type="submit" id="paypal-button-container">
    
    </div>
    
      </div>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <p><b>{{ad.name}}</b>,
        {{ad.locality}},
           {{ad.city}},
          {{ad.state}} &nbsp; {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" required name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Deliver to this address {{forloop.counter}} </label>
        </div>
        {% endfor %}
       
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment %} 
<script src="https://www.paypal.com/sdk/js?client-id=AWuR3suU9sDcpXLfcr_Wpf47763R2trLVVUNyXEXdonsHZ8r_7QOwfsaxx6aLXRi9Uy8QYOWKrRKpHwh&currency=USD"></script>


<script>
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({

      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '{{totalamount}}'
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              // Successful capture! For demo purposes:
              
              alert('Transaction completed by '+ details.payer.name.given_name + '!');
              document.getElementById("myform").submit();

             
          });
      }


  }).render('#paypal-button-container');
</script>
{% endblock payment %}