{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
     <div class="text-center">
         <img src="{% static 'app/images/emptycart.png' %}" alt="" class="img-fluid w-25"><br>
     </div>
     <h3 class="text-center">Your cart is empty</h3>
     <h6 class="text-center">You can go to home page to view more restaurants</h6><br><br>

    
     <div class="text-center">
        
           <div class="text-center"><a href="{% url 'restype' %}" class="btn btn-dark"><b>SEE RESTAURANTS NEAR YOU</b></a></div>
        
       </div>
      
 
 </div>
</div>
{% endblock main-content %}