{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<style>
  html{
    scroll-behavior: smooth;
  }
  body{
    padding: 0;
    margin: 0;
   background:  no-repeat center center fixed;
                     background-size:cover; 
                     background-size:cover; 
                     background-color: bisque;
}
</style>
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="..."> 
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block main-content %}
<section id="hero">
  <div class="hero container">
      <div>
          
          <a href="{% url 'restype' %}" type="button" class="cta">Explore More</a>
         
      </div>
  </div>
</section>

<section id="services">
  <div class="services container">
      <div class="service-top">
          <h1 class="section-title">IMAGI<span><font color="crimson">N</font></span>ATION</h1>
          <p>If you fall in love with the food, you understand that it is a free spirit.............</p>
      </div>
  </div>
</section>


<!--Project End-->
<section id="about">
   <div class="about container">
       <font size="6" color="Blue">Food is the only thing in which you cannot say a mean or sarcastic thing.....</font><br>
       <div id="cf6_image" class="shadow"></div>
       </div>
   
       
</section>
<footer>
  <div class="social-links">
      <section class="about">
          <h2>Know your Restaurants</h2>
          <p>A restaurant, or, more informally, an eatery, is a business that prepares and serves food and drinks to customers.</p>
          <div class="social-icons-footer">
             
                  <div class="fb-share-button" data-href="http://127.0.0.1:8000/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                 
          </div>
      </section>
      
     
  </div>
  
  <div class="copyright">Copyright &copy; 2021 Food-Box. All Rights Reserved </div>
</footer>
{% endblock main-content %}