{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">

  <div class="col-sm-6 offset-sm-3">
    <p>We've emailed you instructions for setting your password, if an account exists with the <b>email</b> you entered. You should receive them shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your <b>spam</b> folder.</p>
    
  </div>
 </div>
</div>
{% endblock main-content %}