{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart Detail{% endblock title %}
{% block main-content %}

<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-top">
   <img src="{{ product.product_image.url }}" alt="" class="img-fluid img-thumbnail" height="350px" width="400px">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2> {{ product.title }} &nbsp;&nbsp;
    <!--<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="2" data-layout="button" data-action="like" data-size="large" data-share="false"></div>-->
   </h2>
   
   <hr>
   <h2>{{ product.Restro_name }}</h2>
   <b><img src="https://img.icons8.com/external-those-icons-fill-those-icons/24/fa314a/external-location-maps-and-locations-those-icons-fill-those-icons-6.png"/>{{ product.zipcode }}</b>
   <p>{{ product.description }}</p> <br>
   <h4>&#8377;{{ product.disc_price }} &nbsp;<small class="fw-light text-decoration-line-through">&#8377;{{ product.selling_price }}</small></h4> <br>
 
{% if request.user.is_authenticated %}   
    {% if item_is_in_cart %}

    <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Go to Cart</a>

    {% else %}

    <form action="/add-to-cart" class="d-inline">
        <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
        <button type="submit" class="btn btn-dark shadow px-5 py-2"><img src="https://img.icons8.com/material-outlined/24/ffffff/plus-math--v1.png"/>&nbsp;Add to Cart</button> 

    </form>

    {% endif %}
{% endif %}

{% if not request.user.is_authenticated %}
<form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button> 

</form>
{% endif %}

   <!--<a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>-->
   <hr>
   <h5 class="mt-5">Customer Reviews</h5>
   <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="19" data-numposts="1"></div>
   
   <ul>
   
   <!-- <li>Special Price Get extra ₹100 off (On first order)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>-->
    
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}