<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'app/base.html' %}
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    







{% block livesale %}
<!-- Live Sale Section -->
<div class="container">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>FIND YOUR FAVOURATE RESTAURANT <img src="https://img.icons8.com/ios/50/000000/restaurant-pickup.png"/></h1>
    <p></p>
    <span>Never have a bad meal</span>
    <small class="fw-lighter">Delivering happiness at your doorstap!</small>
  </div>
</div> <br><br><br><br><br><br>
<!-- End Live Sale Section -->
{% endblock livesale %}


{% block main-content %}

<div class="zip">
  <nav class="navbar navbar-light">
    <form class="form-inline" method="post" action="/zrestro">
      {% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><img src="https://img.icons8.com/external-those-icons-fill-those-icons/24/fa314a/external-location-maps-and-locations-those-icons-fill-those-icons-6.png"/></span>
        </div>
        <input type="text" class="form-control" placeholder="Area Pincode" aria-label="Username" aria-describedby="basic-addon1" name="query" id="query"pattern="[0-9]{6}" title="Six digit zip code" >
      
      </div>
    </form>
  </nav>
</div>
    
    {% for f in Fine_Dining %}
    

    <div class="gallery">
 
     
      <img src="{{ f.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
      <font color="black" font-family="Times New Roman">{{ f.Restaurant_category }}</font>
     
    </h4>
 
  
    <div class="desc"><h5>{{ f.Restaurant_name }}<br>
      
         {{ f.locality }},
        &nbsp;
         {{ f.city }}</h5>
    </div>
   
  </div>
  {% endfor %}
 



    
    
{% for c in Casual_Dining %}
<div class="gallery">

    
      <img src="{{ c.Restaurant_image.url }}" alt="Cinque Terre">
    <h4>
      <font color="black" font-family="Times New Roman">{{ c.Restaurant_category }}</font>
    
    </h4>
    
      <div class="desc"><h5>{{ c.Restaurant_name }}<br>
           {{ c.locality }},
          &nbsp;
           {{ c.city }}</h5>
      </div>
     
    </div>
    {% endfor %}




  
   
    
    {% for co in Contemporary_Casual %}

    <div class="gallery">
     
        
      <img src="{{ co.Restaurant_image.url }}" alt="Cinque Terre">
  
      <h4>
        <font color="black" font-family="Times New Roman">{{ co.Restaurant_category }}</font>
      
      </h4>
   
    
      <div class="desc"><h5>{{ co.Restaurant_name }}<br>
           {{ co.locality }},
          &nbsp;
           {{ co.city }}</h5>
      </div>
    </div>
    {% endfor %}



   
    
{% for fs in Family_Style %}

<div class="gallery">
  
    
      <img src="{{ fs.Restaurant_image.url }}" alt="Cinque Terre">
    
      <h4>
        <font color="black" font-family="Times New Roman">{{ fs.Restaurant_category }}</font>
     
      </h4>
 
    
      <div class="desc"><h5>{{ fs.Restaurant_name }}<br>
           {{ fs.locality }},
          &nbsp;
           {{ fs.city }}</h5>
      </div>
    </div>
    {% endfor %}

    
    
{% for fc in Fast_Casual %}

<div class="gallery">
 
       
      <img src="{{ fc.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ fc.Restaurant_category }}</font>
     
      </h4>
  
    
      <div class="desc"><h5>{{ fc.Restaurant_name }}<br>
           {{ fc.locality }},
          &nbsp;
           {{ fc.city }}</h5>
      </div>
    </div>
    {% endfor %}
    
    
{% for ff in Fast_Food %}

<div class="gallery">
  
    
      <img src="{{ ff.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ ff.Restaurant_category }}</font>
     
      </h4>
  
    
      <div class="desc"><h5>{{ ff.Restaurant_name }}<br>
           {{ ff.locality }},
          &nbsp;
           {{ ff.city }}</h5>
      </div>
    </div>
    {% endfor %}
  
    
{% for c in Cafe %}

<div class="gallery">
  
    
      <img src="{{ c.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ c.Restaurant_category }}</font>
     
      </h4>
  
    
      <div class="desc"><h5>{{ c.Restaurant_name }}<br>
           {{ c.locality }},
          &nbsp;
           {{ c.city }}</h5>
      </div>
    </div>
    {% endfor %}
 
    
    
{% for b in Buffet %}

<div class="gallery">
 
     
      <img src="{{ b.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ b.Restaurant_category }}
        </font>
      
      </h4>
   
    
      <div class="desc"><h5>{{ b.Restaurant_name }}<br>
           {{ b.locality }},
          &nbsp;
           {{ b.city }}</h5>
      </div>
    </div>
    {% endfor %}
 
    
{% for ft in Food_Trucks_and_Concession_Stands %}

<div class="gallery">
  
    
      <img src="{{ ft.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ ft.Restaurant_category }}</font>
    
      </h4>
  
    
      <div class="desc"><h5>{{ ft.Restaurant_name }}<br>
           {{ ft.locality }},
          &nbsp;
           {{ ft.city }}</h5>
      </div>
    </div>
    {% endfor %}
  
    
    
{% for p in Pop_Up_Restaurant %}

<div class="gallery">

    
    <img src="{{ p.Restaurant_image.url }}" alt="Cinque Terre">
      <h4>
        <font color="black" font-family="Times New Roman">{{ p.Restaurant_category }}</font>
     
      </h4>
    
    
      <div class="desc"><h5>{{ p.Restaurant_name }}<br>
           {{ p.locality }},
          &nbsp;
           {{ p.city }}</h5>
      </div>
    </div>
    {% endfor %}
  
{% endblock main-content %} 



</body>
</html>